body
{
    font-family: '黑体';
}

#main-div
{
    font-family: '等线';
    justify-content: center;
}

.mdl-card__title
{
    padding: 6px 10px !important;
}

.mdl-card__title-text
{
    font-size: 16px !important;
}

.mdl-card
{
    width: 90% !important;
    margin-top: 20px;
    min-height: 80px !important;
}

.mdl-button
{
    height: auto !important;
    width: auto !important;
    min-width: 40px !important;
    padding: 0 10px !important;
}

.fullwidth
{
    width: 100% !important;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
      --background-color: #121212;
      --foreground-color: #fafafa;
    }
  }